/* ========== setup ========== */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-flex{
    display: flex;
}

.text-white{
    color:white;
}


/* ========== Navigation bar ========== */

nav{
    position: absolute;
    top:77px;
    left:0;
    right:0;   

}

nav ul {   
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#logo{
    border-radius: 3px 0 0 3px;
}

/*nav ul :nth-last-child(1){
    
}*/

nav ul a{
    width: 10%;
    text-decoration: none;
}

nav ul li{
    list-style: none;
    margin: 3px 0;
    height: 36px;
    border: 1px solid #333;    
    align-items: center;
    justify-content: center;    
    background-image: linear-gradient(#7c7c7c, #383838);
}

nav ul li:hover {
    background-color: #383838;
    background-image: linear-gradient(#383838, #383838);
}

#search{
    width: 13%;
    justify-content: center;
    border-radius: 0 3px 3px 0;
}

#search:hover {
    background-image: linear-gradient(#7c7c7c, #383838);
}

#search input{
    width: 80%;
    border-radius: 5px;
    background-image: linear-gradient(#7c7c7c, #383838);
}

#search input:focus {
    outline: none;
}

#search i{
    position: absolute;
    right: 327px;
    font-size: 12px;
}

/* ========== Hero section ========== */

.hero{
    border: 1px solid red;
    height: 82vh;
    background-image: url(./images/your_verse_hero.jpg);
    background-position:bottom;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

.hero a{
    text-decoration: none; 
    font-size: 23px;   
}

.hero a:hover{

    text-decoration:underline ;
    
}

.hero h1{
    font-size: 50px;    
    font-weight: lighter;    
    margin:0;    
}

.hero p{
    margin:25px 0;
    font-size: 28px;     
}




/* ========== Footer ==========*/